@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&family=Nuosu+SIL&display=swap");
body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 600px;
  background-color: whitesmoke;
  border-color: 5px solid black;
}

.Cad_Login {
  display: flex;
  color: black;
  align-items: center;
  gap: 10px;
}

.img-logo {
  width: 90px;
  height: 60px;
  margin-bottom: 10px;
}

.decoration1 {
  width: 25px;
  height: 25px;
  background-color: #71db6f;
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: 2px;
  z-index: -1;
  border-radius: 5px;
}

.decoration2 {
  width: 60px;
  height: 10px;
  background-color: #71db6f;
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: -5px;
  z-index: -1;
  border-radius: 5px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 100%;
}

.L_C {
  font-size: 20px;
}

h1 {
  margin-top: 114px;
  font-size: 50px;
  font-family: "Nuosu SIL", serif;
  position: relative;
}

p {
  font-size: 15px;
  margin: 10px;
}

h2 {
  margin-top: 50px;
  font-family: "Nuosu SIL", serif;
  font-size: 35px;
  margin-left: 5px;
  position: relative;
}

.input_user {
  width: 400px;
  height: 35px;
  border-radius: 6px;
  margin-left: 8px;
  color: #000000;
  font-size: 20px;
  background-color: #dadada;
  border: none;
}

.forget {
  color: black;
}

.input_senha {
  width: 400px;
  height: 35px;
  border-radius: 6px;
  margin-left: 8px;
  background-color: #dadada;
  border: none;
  color: black;
}

.button_enter {
  width: 120px;
  height: 45px;
  border-radius: 8px;
  margin-left: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #71db6f;
  font-size: 20px;
  border: none;
}

.href {
  text-decoration: none;
  color: black;
}

.img_central {
  height: 100%;
  width: 100%;
  /* width: 600px; */
}
/* 
.imagem_principal {
  width: 600px;
  height: 680px;
  overflow: hidden;
} */

.img_footer {
  width: 90px;
  height: 60px;
  margin-bottom: 10px;
  margin-top: -20px;
}

.main_box {
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #71db6f;
  height: 150px;
}
