body {
  background: #2c3333db; 
}  

ul{
    float: right;
    list-style-type: none;
    margin-top: 5px;
  }
    
  ul li{
    display: inline-block;
  }
     
  ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
  }
    
  ul li a:hover{
    background-color: #fff;
    color: #000;
  }
  
  ul li.active a{
    background-color: #fff;
    color: #000;
  }
  
h1{
  color:white;
  text-align: center;
  text-shadow: 2px 2px 2px black
}

.users{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
    
.register, .login{
  align-items: center;
  /* background-color:#00FF7F; */
  background-color: transparent;
  width: 250px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid #00FF7F;
  margin: 60px;
}

/* .register:hover, .login:hover {
background-color: transparent;
cursor: pointer;
border: 1px solid #00FF7F;
} */

h4.label {
  text-align: center;
  color: #000000;
  Margin-top: 10%;
  font-size: 2rem;
}

.Icon {
  color: #000000;
  width: 150px;
  height: 200px;
  margin-left: 20%;
  Margin-top: 10%;
}

.Icon:hover {
    color:#00FF7F
}

.botaoEnviar{
  background-color:#00FF7F;
  width: 320px;
  height: 83px;
  border-radius: 20px;
  border: 1px solid #eee;
  margin-left: 35%;
  cursor: pointer;
  font-size: medium;
    
}



