body {
    margin: 0;
    padding: 0;
    background-color: #2c3333db;
}


.Square {    
    background-color:#00FF7F;
    width: 353px;
    height: 379px;
    border-radius: 80px;
    margin: 60px;
}

.Square:hover {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #00FF7F;

}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    background: transparent;
}

.Icon {
    color: #000000;
    width: 200px;
    height: 200px;
    margin-left: 20%;
    Margin-top: 10%;

}

.Icon:hover {
    color:#00FF7F
}

h4 {
    color: #000000;
    margin-left: 20%;
    Margin-top: 10%;
    font-size: 3rem;

}

h4:hover {
    color:#00FF7F
}

.Login {
    margin-left: 33%;

}

.linha-vertical {
    border-left: 6px solid #00FF7F;
    margin: 0;
    position:absolute;
    height: 100%;
    left: 350px;
    top: 0px;

}