body {
    margin: 0;
    padding: 0;
}

* {
    
    background: #2c3333db;;
}

a {
    color: white;
    font-size: 20px;
    font-family: "Josefin Sans";
}

h1 {
    color: white;
    font-size: 20px;
    font-family: "Josefin Sans";
}

.Icon {
    color: #00FF7F;
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
    margin: 20px;

} 
.gambiarra {
    padding-top: 90px;
    
}

nav {
    Display: flex;
    flex-direction: column;
    margin-top: 10px;
    
}

.linha-vertical {
    border-left: 6px solid #117050;
    margin: 0;
    position:absolute;
    height: 100%;
    left: 92px;
    top: 0px;

}

.linha-horizontal {
    border: 3px solid #117050;
    width: 86px;
    position: absolute;
    bottom: 150px;

}

.logo {
    height: 80px; 
    width: 80px; 
    margin: 10px;
}

.line-home {
    background-color: #117050;
    height: 10px;
  }
  
  .titulo{
      color: white;
      font-size: 40px;
      position: relative;
      left: 180px;    
  }
  
footer {
    flex-direction: row;
    padding: 24px 10%; 
    background-color: #232424;
  }

.copyright{
    background: #232424;
    color: white;
    font-size: 20px;
    padding: 50px 20px;
}

.container{
    display: flex;
}
